* {
    box-sizing: border-box;
    /* font */
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    /*bloquear barra horizontal*/
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}
body {
    background: url(../img/datos.jpg);

}
.table {
    padding: 1% 5%;
}
.boton {
    padding: 1% 5%;
}
.boton2 {
    float: right;
}
.container-fluid {
    display: flex;
    justify-content: center;
  }
.nav {
    padding-left: 20%;
    float: left;

}
.table td {
    background-color: white;
}

