* {
    box-sizing: border-box;
    /* font */
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    /*bloquear barra horizontal*/
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}
.table {
    padding: 2% 5%;
}