* {
    box-sizing: border-box;
    /* font */
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    /*bloquear barra horizontal*/
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}
body {
    background: url(../img/crearAl.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.5vw;
    color: white;

}
h1 {
    padding-top: 5%;
    text-align: center;
}
.fondo {
    padding: 4%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.fondo2 {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    padding: 2%;
}

.row {
    padding: 1% 1% 1% 0;
}
.form-row {
    padding: 1% 1% 1% 0;
}