* {
    box-sizing: border-box;
    /* font */
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    /*bloquear barra horizontal*/
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}

body {
    background: url(../img/datos.jpg);
}

.table {
    padding: 1% 5%;
    text-align: center;
}

.boton {
    padding: 1% 5%;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.nav {
    float: left;
    padding: 3% 0 1% 20%;
}

.table td {
    background-color: white;
}
@media screen and (max-width:800px) {
    * {
        overflow-x: scroll;
    }
    .table {
        width: 100%;
        font-size: 6vw;
        padding: 0;
    }
    .table th {
        width: 5%;
    }
    .table td {
        width: 5%;
        /* padding: 5% 10%; */
    }
    .nav {
        float: left;
        padding: 6% 2%;
        width: 33%;
    }
    .nav a {
        font-size: 4.6vw;
        padding: 4%;
        height: 10%;
    }
}