* {
    box-sizing: border-box;
    /* font */
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    /*bloquear barra horizontal*/
}

::-webkit-scrollbar {
    display: none;
    /*no mostrar barra scroll pero funciona*/
}
body {
    background: url(../img/crearAl.jpg);
    background-size: cover;
    background-attachment: fixed;
}